body {
}


#view {
  position: relative;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  float: right;
  margin: 2em;
  background-color: black;
}


#view > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
