@import './lib/diurnal.js/diurnal.css';
@import './lib/fullscreen.js/fullscreen.css';


body {
  font: medium arial;
  margin: 0;
  padding: 0;
  color: #222;
}


h1 {
  padding: 1em;
  margin: 0em 0em 2em 0em;
}


h2 {
  width: 40%;
  font-size: 1.2em;
  margin-top: 1em;
  margin-top: 2em;
}


h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 2em;
}


#control-panel {
  margin-left: 2em;
}


#view-pad {
  float: right;
  padding: 2em;
  border: solid 1px #ddd;
  margin-right: 2em;
}


/** These settings are necessary for the fullscreen container. */
#view {
  position: relative;
  top: 0;
  left: 0;
  background-color: inherit;
}


.bounds {
  font-size: small;
  color: #555;
}


.button {
  display: inline-block;
  text-decoration: none;
  background-color: #eee;
  color: lightgrey;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
}


.button[href] {
  background-color: green;
  color: white;
}
