body {
  font: medium arial;
  margin: 0;
  padding: 0;
  color: #222;
}


.dark {
  background: #0C1118;
  color: white;
}


.dark h1 {
  background: #151B23;
}


.bright {
  background: white;
  color: black;
}


.bright h1 {
  background:lightgrey;
}


span {
  padding: 0.5em;
}


h1 {
  padding: 1em;
  margin: 0em 0em 2em 0em;
}


h2 {
  width: 40%;
  font-size: 1.2em;
  margin-top: 1em;
  margin-top: 2em;
}


h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 2em;
}


button {
  margin-top: 1em;
}


#control-panel {
  margin-left: 2em;
}


#view-pad {
  float: right;
  padding: 2em;
  border: solid 1px #ddd;
  margin-right: 2em;
}


#view {
  position: relative;
  top: 0;
  right: 0;
}


.bounds {
  font-size: small;
  color: #555;
}


.button {
  display: inline-block;
  text-decoration: none;
  background-color: #eee;
  color: lightgrey;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
}


.button[href] {
  background-color: green;
  color: white;
}
